@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#container {
  display: flex;
}

#right {
  background-color: black;
  min-width: 40vw;
  min-height: 100vh;
}

#logo {
  max-width: 50%;
  position: relative;
  top: 10%;
  left: 22%;
}

#header {
  padding-top: 120px;
  padding-left: 3vw;
  padding-bottom: 40px;
}

fieldset {
  padding-left: 3vw;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 60vw;
}

input {
  display: block;
  width: 350px;
}

#inputContainer {
  display: flex;
  gap: 100px;
}

#input1 {
  margin-top: 15px;
  margin-bottom: 20px;
}

#input2 {
  margin-top: 15px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 10px;
}
